* {
    box-sizing: border-box;
}


body {
    background-color:paleturquoise
}

/*Nav bar styling*/ 

nav {
    width: 100%;
    background-color: #d3d3d3;
    margin: 5px; 
    height: 34px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
} 

nav ul li {
    border-right: black solid 1px;
    float:left;
 
}   

nav ul li a:hover{
    background-color: #f5f5f5;
}

a {
    display: block;
    padding: 8px;
    color: white;
  }

  #about {
      float: right;
      border-left: black solid 1px;
      border-right: none;
      background-color: black;
  }

  /* text styling*/

p {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;

}

/* section and div styling */

section {
    border:black dotted 2px; 
    margin-top: 20px;
}

section.content-box div {
    border: gray solid 2px;
    height: 100px;
    width: 120px;
    margin: 20px 20px;
    padding-top: 5px;
    display: inline-block;
}

div.light-grey {
    position:relative;
    background-color: #d3d3d3;
}

div.white-smoke {
    background-color: #f5f5f5;
}

div.light-green {
    background-color:#04AA6D;
}
