* {
    box-sizing: border-box;
}

body {
    background-color:azure
}

nav {
    width: 50%;
    background-color: lightgrey;
    margin: 5px; 
    height: 30px;;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
} 

nav ul li {
    border-right: black solid 1px;
    float:left;
 
}   

nav ul li a:hover{
    background-color: whitesmoke;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

p {
    font-family: 'Courier New', Courier, monospace;

}

section {
    border:black dotted 2px; 
}

section.content-box div {
    border: gray solid 2px;
    height: 40px;
    width: 40px;
    margin: 20px 20px;
    display: inline-block;
}


